nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    /* position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100; */
}

.left-side {
    display: flex;
    flex-direction: row;


}
.middle {
    align-items: center;
    margin-top: 0px;
}

.gretsa-image {
    height: 90px;
    border-radius: 20px;
    width: 90px;
    margin-right: 20px;
    vertical-align: top;
}
.logo-word {
    vertical-align: top;
    margin-top: 0px;
}

a:visited{
    color: red;
}
a:hover {
    color: hotpink;
}
li {
    display:inline-block;
    list-style: none;
}
a:active {
    color: blue;
  }
li a {
    margin: 50px;
    font-size: 20px;
    font-weight: bold;

}

button {
    background-color:green;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.15s;
}
button:hover {
    opacity: 0.5;

   
}
button:active {
    opacity: 0.2;

}
