
nav {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}

/* leftside section */
.left-side {
    display: flex;
    flex-direction: row;
}

.logo-word {
    margin-left: 10px;
}

/* middle section */
.middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;
    position: relative;
    width: 300px;
    height: 42px;
    border: solid 2px blue;
    border-radius: 50px;
    justify-content: space-between;
    background-color: white;
}
.image-search {
    height: 20px;
    width: 20px;
    margin-left:2px;
}
.search {
    padding: 0 5px;
}
input {
   font-size: 18px;
   font-weight: 500;
   border: none;

}
input:focus {
    outline: none;
}

/* right section */

.rightside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.msg {
    height: 50px;
    cursor: pointer;
}
.notification {
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;

}
.avatar-icon {
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
}

