main {
    margin-top: 50px;
    
}
.sidebar {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    width: 350px;
    border-radius: 5px;
   
}
.compose {
    background-color:rgb(243, 40, 40);
    color: white;
    height: 20px;
    width: 200px;
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    
    
}

.compose-message {
    margin-right: 10px;
}
.msg-compose {
    height: 20px;
      
}
a:link {
    text-decoration: none;
}
.body-msg {
    color: gray;
    font-size: 18px;
    font-weight: 20px;
}

/* inbox messages */

.inbox {
   
    color: white;
    height: 20px;
    width: 200px;
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}
.inbox:hover {
    background-color:rgb(12, 178, 233);
}
.inbox:active {
    background-color:rgb(12, 178, 233);
}
.inbox-message {
    margin-right: 10px;

}
.circle-notification {
    margin-left: 80px;
    background-color: brown;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    display: flex;
    padding-left: 15px;
    padding-top: 5px;


}
.sent {
    color:black;
    height: 20px;
    width: 200px;
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.sent-message {
    margin-right: 10px;
}
.sent:hover {
    background-color:rgb(12, 178, 233);
    ;
}