.leftside {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 420px;
    width: 250px;
    margin-left: 150px;
    margin-top: 30px;
    border-radius: 30px;
}

.title-paragraph {
    margin-top: 30px;
    margin-left: 200px;
    font-size: 30px;
    font-weight: bold;
 
}
.main-layout {
    display: flex;
}
.image-proc {
    height: 120px;
    margin-left: 80px;
    margin-top: 10px;
}
.name {
    margin-left: 80px;
    margin-top: 5px;
    color: black;
    font-weight: bold;
}

/* account */
.account {
    background-color:rgb(8, 169, 223);
    color: white;
    padding: 10px;
    margin-top: 20px;

    transition: 0.15s;
}
.account:hover {
    background-color: rgb(8, 169, 223);
}
.below-picture {
    padding: 10px;

    transition: 0.15s;

}
.below-picture:hover {
    background-color: rgb(8, 169, 223);
    color: white;
}


/* next-left */
.next-layout {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 420px;
    width: 850px;
    margin-left: 15px;
    margin-top: 30px;
    border-radius: 30px;
}
